.mainclass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.mainclass h1 {
  text-transform: uppercase;
}
.workfield {
  padding: 6px 5px;
  background-color: aqua;
  display: flex;
}
.workfield button {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
.workfield input {
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  padding-left: 2rem;
}